service vendor.ir-default /odm/bin/hw/android.hardware.ir-service
    class hal
    user system
    group system
    interface aidl android.hardware.ir.IConsumerIr/default

service touchDaemon  /odm/bin/touchDaemon
    class late_start
    socket hidl2touchdaemon_client dgram 0660 root inet
    socket hidl2touchdaemon_server dgram 0660 root inet
    user root
    group root inet misc sdcard_rw sdcard_r media_rw system radio input system

service vendor.touch-aidl-1  /odm/bin/hw/vendor-oplus-hardware-touch-V1-service
    class hal
    capabilities SYS_PTRACE
    user root
    group system everybody
    group root system gps radio inet sdcard_r sdcard_rw inet
    socket hidl2touchdaemon_client dgram 0660 root inet
    socket hidl2touchdaemon_server dgram 0660 root inet
    interface aidl vendor.oplus.hardware.touch.IOplusTouch/default

on boot
    chown root root /odm/bin/touchDaemon
    chown system system /dev/tp_misc
    chown system system /dev/tp_misc1
    chown system system /dev/tcm_hbp0
    chmod 0777 odm/bin/touchDaemon
    chmod 0777 dev/tp_misc
    chmod 0777 dev/tp_misc1
    chmod 0777 dev/tcm_hbp0
    chown system system /dev/tp_misc
    chown system system /proc/touchpanel/tp_fw_update
    chown system system /proc/touchpanel/oplus_tp_limit_enable
    chown system system /proc/touchpanel/oplus_tp_direction
    chown system system /proc/touchpanel/double_tap_enable
    chown system system /proc/touchpanel/coordinate
    chown system system /proc/touchpanel/game_switch_enable
    chown system system /proc/touchpanel/fp_enable
    chown system system /proc/touchpanel/baseline_test
    chown system system /proc/touchpanel/kernel_grip_handle
    chown system system /proc/touchpanel/curved_size
    chown system system /proc/touchpanel/charge_detect
    chown system system /proc/touchpanel/wireless_charge_detect
    chown system system /proc/touchpanel/gesture_support
    mkdir /data/vendor/touch 0771 system system
    mkdir /data/vendor/touch/log 0771 system system
    chmod 0777 /data/vendor/touch/frameLog.log
    chmod 0777 /data/vendor/touch/touchHealthInfo.log

on property:persist.vendor.touchDaemon.enable=0
    stop touchDaemon
